.players
  #player_1
    Player 1
    %br
    %label{ :for => '#player_1_angle' } angle
    %input{ :id => "player_1_angle", :maxlength => 3 }
    %br
    %label{ :for => '#player_1_velocity' } velocity
    %input{ :id => "player_1_velocity", :maxlength => 3 }
  #player_2
    Player 2
    %br
    %label{ :for => '#player_2_angle' } angle
    %input{ :id => "player_2_angle", :maxlength => 3 }
    %br
    %label{ :for => '#player_2_velocity' } velocity
    %input{ :id => "player_2_velocity", :maxlength => 3 }
%canvas{ :id => "gorillas", :width => "1024", :height => "640" }

#score
  %label#value 0>Score<0
