body {
 background-color:  #0000a0;
 margin: 0 auto;
 text-align: center;
 font-family:  courier, serif;
 font-size: 20px;
 color: #fff;
}

input {
  font-family:  courier, serif;
  background-color:  #0000a0;
  width: 50px;
  height: 20px;
  border: none;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

#player_1, #player_2 {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left
}

label {
  font-size: 16px;
}

#player_1_angle, #player_2_angle, #player_1_velocity, #player_2_velocity, label {
  display: none;
}
