body {
 background-color:  #0000a0;
 margin: 0 auto;
 text-align: center;
 font-family: "andale mono","monotype.com",monaco,"courier new",courier,monospace;
 font-size: 16px;
 color: #fff;
}

input {
  font-family:  courier, serif;
  background-color:  #0000a0;
  width: 50px;
  height: 20px;
  border: none;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

#player_1, #player_2 {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 512px;
}

#player_1 {
}

#player_2 {
  text-align: right;
}

label {
  font-size: 16px;
}

#player_1_angle, #player_2_angle, #player_1_velocity, #player_2_velocity, #player_1 label, #player_2 label {
  display: none;
}

.board {
  width: 1024px;
  height: 640px;
  margin: 0 auto;
}

.players {
  position: absolute;
}

.score .player_1, .score .player_2 {
  background-color:  #0000a0;
}

#score {
  margin-top: -50px;
}

#score label {
  background-color:  #0000a0;
  display: inline-block;
}

footer {
  width: 1024px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;

  a {
    color: pink;
  }

}
